body{
	width: 43%;
	margin: 0 auto;
	padding: 28px;
}

body legend{
	padding: 2px;
	border: 1px solid #73174a;
	color: white;
	background-color: orange;
}

fieldset{
	border: 1px solid #73174a;
}

label{
	font-size: 18px;
	display: block;
	width: 30%;
	margin-right: 10px;
	float: left;
	text-align: right;
}

input{
	border: 1px solid #73174a;
	background-color: #fde1af;
	font-size: 15px;
}

.form-group{
	margin-bottom: 10px;
	width: 100%;
	position: relative;
	padding: 5px;
}

input[type=submit] {
    margin-left: 173px;
    font-size: 16px
}

textarea{
	font-size: 20px;
	height: 100px;
	background-color: #fde1af;
	border: 1px solid #73174a;
}

select{
	background-color: #fde1af;
	border: 1px solid #73174a;
	font-size: 15px;	
}